body {
   background-color: rgb(151, 202, 202);
}
.btn {
   background: rgb(86, 189, 86);
   width: 100%;
   padding-top: 5px;
   padding-bottom: 5px;
}
#a1{
   display: none;
}
#a2{
   display: none;
}
#a3{
   display: none;
}
#a4{
   display: none;
}
#a5{
   display: none;
}
.aba1 {
   background-color: brown;
   width: 100%;
   height: 400px;
}
.aba2 {
   background-color: rgb(196, 127, 127);
   width: 100%;
   height: 400px;
}
.aba3 {
   background-color: rgb(127, 159, 218);
   width: 100%;
   height: 400px;
}
.aba4 {
   background-color: rgb(240, 145, 62);
   width: 100%;
   height: 400px;
}
.aba5 {
   background-color: rgb(26, 66, 26);
   width: 100%;
   height: 400px;
}

.conteudo {
   width: 100%;
   text-align: center;
}

.tablet {
   display: none;
}

.desktop {
   display: none;
}

.barra {
   width: 100%;
   height: 50px;
   background-color: rgb(136, 162, 201);
   text-align: center;
}
.mobile {
   font-size: 48px;
   color: rgb(0, 0, 0);
}

@media (min-width:720px) {
   .barra{
       height: 80px;
       background-color: rgb(67, 182, 197);
   }
   .mobile{
       display: none;
   }
   .tablet{
       display: inline;
       font-size: 60px;
       color: rgb(0, 0, 0);
   }
   .conteudo{
       text-align: right;
   }
   .btn{
       margin-top: 0px;
       font-size: 24px;
   }
}


        
