        button{
            background: greenyellow;
        }
        body{
        background-color: black;
        }
        .tablet{
            display: none;
        }
        .Desktop{
            display: none;
        }
        .barra{
            width: 100%;
            height: 50%;
            background-color: peru;
            text-align: center;
        }
        .mobile{
            font-size: 48px;
            color: aqua;
        }
        @media (min-width:720px){
            .barra(
                width: 80px;
                background-color: black );
        }
        .mobile{
            display: none;
        }
        .tablet{
            display: inline;
            front-sizw: 60px;
            color: brown;
        }
        @media(min-width:1228px){
            .barra{
                height: 100px;
                background-color: cadetblue;
            }
        }
        .tablet{
            display: none;
        }
        .Desktop{
            display: inline;
            font-size: 90px;
            color: aliceblue;
        }